<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Led</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />  
</head>
<body>
    <header>
        <h1>Controle de uma Estufa</h1>
    </header>
    <main>
        <div class="caixaSensor">
            <h2>Sensores Estufa</h2>
            <p>Temperatura: <span id="temp">--</span> &deg;C</p>
            <p>Umidade: <span id="umid">--</span> %</p>
            <p>Luminosidade: <span id="lum">--</span> %</p>
        </div>
        <div class="caixa">
            <img id="imagem-planta" src="{{url_for('static', filename='images/irrigacaoSemAgua.png')}}" alt="pranta" srcset="">
        <div class="valvula">
            <button class="ligar"  onclick="controled('1','on')">Ligar</button>
            <button class="desligar" onclick="controled('1','off')">Desligar</button>
        </div>
        <p id="valvula">  Válvula ↑</p>
        </div>
      
    </main>
</body>
<script>
        function controled(led_num,action) {
            fetch(`/control/${led_num}/${action}`)
            .then(response => response.text())
            .then(data => {
                console.log(data)
            })
            .catch(error => {
                console.error("Error:", error)
            })

            // chama mudança de imagem usando a mesma ação ('on' / 'off')
            mudarImagem(action)
        }

        function mudarImagem(action) {
            let imagem = document.getElementById("imagem-planta");
            switch (action) {
                case 'on':
                    imagem.src = "{{ url_for('static', filename='images/irrigacao.png') }}"
                    break
                case 'off':
                     imagem.src = "{{ url_for('static', filename='images/irrigacaoSemAgua.png') }}"
                    break
            }
        }

        function buscarDadosSensor() {
            fetch('/get_data/') // Chama a nova rota no app.py
                .then(response => response.json()) // Converte a resposta para JSON
                .then(data => {
                    // Atualiza os valores na página
                    if (data.error) {
                        document.getElementById('temp').innerText = "Erro";
                        document.getElementById('umid').innerText = "Erro";
                        document.getElementById('lum').innerText = "Erro";
                    } else {
                        document.getElementById('temp').innerText = data.temp;
                        document.getElementById('umid').innerText = data.umid;
                        document.getElementById('lum').innerText = data.lum;
                    }
                })
                
                .catch(error => console.error('Erro ao buscar dados:', error));
            }

        // Chama a função para buscar os dados a cada 3 segundos
        setInterval(buscarDadosSensor, 3000);

        // Busca os dados assim que a página carregar
        document.addEventListener('DOMContentLoaded', buscarDadosSensor);
</script>
</html>