<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector de portas e janelas eu acho</title>
</head>
<body>
    <main>
        <div>
            <p>A porta está <p id="status"></p>!!!</p>
        </div>
    </main>

<script>
    fetch('/getdata/')
        .then(response => response.json())
        .then(data =>
            document.getElementById("status").innerHTML = data.value
        )
        .catch(error =>
            console.log(error)
        )
</script>

</body>
</html>